html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(0, 0%, 95%, 1)
}

button {
  display: inline-block;
  padding: 1.1rem 2rem;
  font-weight: bold;
  border-radius: 5rem;
  /* color: white; */
  /* background: rgb(215,215,4); */
  /* background: linear-gradient(0deg, rgba(215,215,4,1) 0%, rgba(254,253,3,1) 100%);*/
  border: none;
  font-size: 1.25rem;
  background: #ffd017;
  /* text-shadow: 0 .5px 1px hsla(0, 0%, 0%, 0.2); */
  box-shadow: 0 1px 20px hsla(0, 0%, 0%, 0.05);
  outline: none !important;
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: #ffdb4d;
  box-shadow: 0 1px 60px hsla(0, 0%, 0%, 0.1);
}

.icon {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: .5rem;
  position: relative;
  top: -1px;
  opacity: .8;
}
